<link href="../assets/Datatables/datatables.min.css" rel="stylesheet" />
<div class="card">
    <div class="card-header p-3 pt-2">
        <div
            class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">summarize</i>
        </div>
        <div class="text-center pt-3 mt-3">
            <h4 class="font-weight-bolder">Lista de Pedidos</h4>
        </div>
    </div>
    <hr class="dark horizontal my-0">
    <div class="container my-4">
        <ul class="nav nav-pills my-1 justify-content-center align-items-center">
            <li class="nav-item mx-2">
                <button class="btn btn-info" type="button" onclick="traerDatos(1,'GENERADO')"
                    id="pills-home-tab">Pedidos Generados</button>
            </li>
            <li class="nav-item mx-2">
                <button class="btn btn-info" onclick="traerDatos(1,'ASIGNADO')" type="button">Pedidos Asignados</button>
            </li>
            <li class="nav-item mx-2">
                <button class="btn btn-info" onclick="traerDatos(1,'PROCESO')" type="button">Pedidos En Proceso</button>
            </li>
            <li class="nav-item mx-2">
                <button class="btn btn-info" onclick="traerDatos(1,'FINALIZADO')" type="button">Pedidos
                    Finalizados</button>
            </li>
        </ul>
        <hr>
        <input type="hidden" id="idEmpresa">
        <table id="miTabla" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>SUBTOTAL</th>
                    <th>IVA</th>
                    <th>TOTAL</th>
                    <th>COMENTARIO</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal" id="modalDetalles">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="modal-title-default"> DETALLES DEL SERVICIO</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="accordion-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="accordion" id="accordionRental">
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="heading1">
                                            <button class="accordion-button border-bottom font-weight-bold"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                                                aria-expanded="true" aria-controls="collapse1">
                                                Datos del Servicio Solicitado
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="collapse1" class="accordion-collapse collapse show"
                                            aria-labelledby="heading1" data-bs-parent="#accordionRental">
                                            <div class="accordion-body text-sm opacity-8">
                                                <div class="row justify-content-center" id="contenedorServicios">
                                                    <div class="card border border-primary" style="width: 18rem;">
                                                        <h5 class="card-header">nombre</h5>
                                                        <img src="..." class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <p class="card-text">Descripcion</p>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">Costo</li>
                                                            <li class="list-group-item">domiclio</li>
                                                            <li class="list-group-item">cantidad</li>
                                                        </ul>
                                                        <div class="card-body">
                                                            <a href="#" class="card-link">Total: $55</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button border-bottom font-weight-bold collapsed"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="false" aria-controls="collapseOne">
                                                Datos del Pedido
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                                            <div class="accordion-body text-sm opacity-8">
                                                <div class="row justify-content-center">
                                                    <div class="col-6 col-md-8 col-sm-10 mx-2">
                                                        <input type="hidden" id="idPedido">
                                                        <input type="hidden" id="estado">
                                                        <div class="input-group input-group-outline mb-3 is-filled">
                                                            <label class="form-label" for="fecha">Fecha</label>
                                                            <input type="text" id="fecha" class="form-control" disabled>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3 is-filled">
                                                            <label class="form-label" for="hora">Hora</label>
                                                            <input type="text" id="hora" class="form-control" disabled>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3 is-filled">
                                                            <label class="form-label" for="subtotal">Subtotal</label>
                                                            <input type="text" id="subtotal" class="form-control"
                                                                disabled>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3 is-filled">
                                                            <label class="form-label" for="iva">Iva</label>
                                                            <input type="text" id="iva" class="form-control" disabled>
                                                        </div>
                                                        <div class="input-group input-group-outline mb-3 is-filled">
                                                            <label class="form-label" for="total">Total</label>
                                                            <input type="text" id="total" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button border-bottom font-weight-bold"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                Datos del Cliente
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                            <div class="accordion-body text-sm opacity-8">
                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="cedula">Cédula</label>
                                                    <input type="text" id="cedula" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="nombre">Nombre</label>
                                                    <input type="text" id="nombre" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="apellido">Apellido</label>
                                                    <input type="text" id="apellido" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="email">Email</label>
                                                    <input type="email" id="email" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="telefono">Teléfono</label>
                                                    <input type="text" id="telefono" class="form-control" disabled>
                                                </div>
                                                <div id="p1" class="hidden">
                                                    <iframe id="iframe" class="form-control"
                                                        style="height: 350px; width: 100%;"></iframe>
                                                    <div class="justify-content-center align-items-center text-center">
                                                        <button class="btn btn-info">Asignar Repartidor</button>
                                                        <button class="btn btn-secondary mx-3" type="button"
                                                            data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3" id="accordionAsignacion">
                                        <h5 class="accordion-header" id="heading3">
                                            <button class="accordion-button border-bottom font-weight-bold"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
                                                aria-expanded="false" aria-controls="collapse3">
                                                Asignacion de Tecnico
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionRental">
                                            <div class="accordion-body text-sm opacity-8">
                                                <div class="table-responsive">
                                                    <table id="miTabla2" class="table display" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>id</th>
                                                                <th>CEDULA</th>
                                                                <th>NOMBRE</th>
                                                                <th>APELLIDO</th>
                                                                <th>EMAIL</th>
                                                                <th>TELEFONO</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3" id="acordionTecnico">
                                        <h5 class="accordion-header" id="heading4">
                                            <button class="accordion-button border-bottom font-weight-bold"
                                                type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
                                                aria-expanded="false" aria-controls="collapse4">
                                                Datos del Tecnico
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="collapse4" class="accordion-collapse collapse"
                                            aria-labelledby="heading4" data-bs-parent="#accordionRental">
                                            <div class="accordion-body text-sm opacity-8">
                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="cedula1">Cédula</label>
                                                    <input type="text" id="cedula1" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="nombre1">Nombre</label>
                                                    <input type="text" id="nombre1" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="apellido1">Apellido</label>
                                                    <input type="text" id="apellido1" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="email1">Email</label>
                                                    <input type="email" id="email1" class="form-control" disabled>
                                                </div>

                                                <div class="input-group input-group-outline mb-3 is-filled">
                                                    <label class="form-label" for="telefono1">Teléfono</label>
                                                    <input type="text" id="telefono1" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../controllers/Pedidos/listaPedidos.js"></script>