<div class="card">
  <div class="card-header p-3 pt-2">
    <div
      class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
      <i class="material-icons opacity-10">assessment</i>
    </div>
    <div class="text-center pt-3 mt-3">
      <h4 class="font-weight-bolder">Reporte de Pedidos</h4>
    </div>
  </div>
  <hr class="dark horizontal my-0">
  <div class="container my-4">
    <div style="width: 100%; margin: auto;">
      <canvas id="barChart"></canvas>
    </div>
  </div>
</div>
<div class="row py-4">
  <div class="col-6">
    <div class="container">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="text-center pt-3 mt-3">
            <h4 class="font-weight-bolder">Servicios</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="container my-4">
          <div style="width: 100%; margin: auto;">
            <canvas id="pieServicios"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="text-center pt-3 mt-3">
            <h4 class="font-weight-bolder">Domicilios</h4>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="container my-4">
          <div style="width: 100%; margin: auto;">
            <canvas id="pieDomicilios"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../controllers/reporteTiendaDash.js"></script>
